<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.disdukcapil.submisi_2_dicoding_bfaa">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.disdukcapil.submisi_2_dicoding_bfaa.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="com.disdukcapil.submisi_2_dicoding_bfaa.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Submisi2dicodingbfaa"
        android:usesCleartextTraffic="true">
        <provider
            android:writePermission="com.disdukcapil.submisi_2_dicoding_bfaa.WRITE_DATABASE"
            android:readPermission="com.disdukcapil.submisi_2_dicoding_bfaa.READ_DATABASE"
            android:name=".provider.UserProvider"
            android:authorities="com.disdukcapil.submisi_2_dicoding_bfaa"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name=".NotificationActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarm.AlarmReceiver"
            android:enabled="true"
            android:permission="TODO" />
    </application>

</manifest>